Package: electrum
Version: 1.0
Section: internet
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: Deafboy
Description: Lightweight Bitcoin client
Depends: python-qt4
